---

import Layout from '../components/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Sectionmap from '../components/Sectionubicacion.astro';
import Licard from '../components/Licard.astro';
import Footer from '../components/Footer.astro';
import Sectionsocial from '../components/Sectionsocial.astro';
import Modalform from '../components/Modalform.astro';
---

<Layout title="Escuela de Disciplina Marcial">
	<main>
		<Nav/>
		<Hero/>
		<section role="list" class="link-card-grid text-center bg-slate-200">
			<h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Categorías</h2>
			<p>Toma una clase gratuita en nuestras diversas categorías. ¡Te invitamos!</p>
			<Licard
			title="Pre-escolar"
			body="Descubre el Taekwondo, donde la diversión se combina con el aprendizaje. Despierta tu fuerza interior desde el kinder. ¡Únete hoy!"
			image='images/pre-kinder.jpg'
			alt="Pre escolar"
			boton="openModal('Pre-escolar')"
			/>
			<Licard
			title="Primaria"
			body="Explora el Taekwondo en la primaria: diversión, disciplina y desarrollo personal. ¡Inscríbete ahora y descubre tu potencial con nosotros!"
			image='images/primaria.jpg'
			alt="primaria"
			boton="openModal('Primaria')"
			/>
			<Licard
			title="Adolecente"
			body="Conviértete en tu mejor versión con el Taekwondo. Descubre el poder interior, la disciplina y la diversión. Únete a nosotros hoy para un cambio positivo."
			image='images/adolecente.jpg'
			alt="adolecente"
			boton="openModal('Adolecente')"
			/>
			<Licard
			title="Adulto"
			body="Descubre fuerza interior, disciplina y bienestar con el Taekwondo. Únete para transformarte física y mentalmente. ¡Practica Taekwondo y sé tu mejor versión!"
			image='images/adulto.jpg'
			alt="adulto"
			boton="openModal('Adulto')"
			/>
			<Licard
			title="Adulto Mayor"
			body="Experimenta bienestar y vitalidad con el Taekwondo, perfecto para adultos mayores. Únete a nuestra práctica suave y transformadora para una vida activa y saludable."
			image='images/adulto-mayor.jpg'
			alt="Adulto mayor"
			boton="openModal('Adulto-Mayor')"
			/>
		</section>
		<Sectionsocial/>
		<Sectionmap/>
	<Modalform/>
	</main>
	<Footer/>
</Layout>


