---
import Layout from '../components/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Sectionmap from '../components/Sectionmap.astro';
---

<Layout title="Escuela de Disciplina Marcial">
	<main>
		<Nav/>
		<Hero/>
		<Sectionmap/>
	</main>
</Layout>
