---

import Layout from '../components/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Sectionmap from '../components/Sectionubicacion.astro';
import Licard from '../components/Licard.astro';
import Footer from '../components/Footer.astro';
import Sectionsocial from '../components/Sectionsocial.astro';
import Modalform from '../components/Modalform.astro';
---

<Layout title="Escuela de Disciplina Marcial">
	<main>
		<Nav/>
		<Hero/>
		<section role="list" class="link-card-grid text-center bg-slate-200">
			<h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Categorías</h2>
			<p>Toma una clase gratuita en nuestras diversas categorías. ¡Te invitamos!</p>
			<Licard
			title="Kinder"
			body="¡La combinacion perfecta entre desarrollo de coordinacion, movimiento motriz y gran diversion! Nuestro programa de arte marcial le da a los pequeños las herramientas para sobrepasar las eapectativas de desarrollo preparandolo para la primaria. Estamos dedicados al crecimiento y exito de tu hijo."
			image='https://live.staticflickr.com/65535/53572679984_f27a810540_c.jpg'
			alt="Pre escolar"
			boton="openModal('Pre-escolar')"
			/>
			<Licard
			title="Primaria"
			body="¡La combinacion perfecta entre defensa personal y tradicion! Nuestro programa de arte marcial le da a tu hijo las herramientas para poder protegerse y los equipa con grandes ventajas en la escuela. Estamos dedicados al crecimiento y exito de tu hijo."
			image='https://live.staticflickr.com/65535/53572360016_86a05ccd01_c.jpg'
			alt="primaria"
			boton="openModal('Primaria')"
			/>
			<Licard
			title="Adolescentes"
			body="La mejor y definitiva alternativa que mantiene a los jovenes activos, comprometidos, mas fuertes y mas seguros. ¡Nuestro programa de arte marcial ayuda a mantenerlos motivados, jamas a sido mas sencillo!"
			image='https://live.staticflickr.com/65535/53572558443_ab5894b4f0_c.jpg'
			alt="adolecente"
			boton="openModal('Adolecente')"
			/>
			<Licard
			title="Adultos"
			body="Logra tus objetivos y metas de acondicionamiento fisico. Nuestro programa de arte marcial te ayudara a desarrollar una amplia gama de tecnicas para uso de defensa personal en un mundo real."
			image='https://live.staticflickr.com/65535/53572679989_cf6c0a7899_c.jpg'
			alt="adulto"
			boton="openModal('Adulto')"
			/>
			<Licard
			title="Adultos Mayores"
			body="¡Logra una mejor salud fisica! Quema grasa, tonifica la musculatura rapidamente ejercitando todo tu cuerpo en diversas formas en cuanto aprendes defensa personal, has nuevas amistades y se parte de nuestra comunidad."
			image='https://live.staticflickr.com/65535/53572679994_ae7f149a56_c.jpg'
			alt="Adulto mayor"
			boton="openModal('Adulto-Mayor')"
			/>
		</section>
		<Sectionsocial/>
		<Sectionmap/>
	<Modalform/>
	</main>
	<Footer/>
</Layout>


