<nav>
    <div class="bg-blue-1001 flex items-center justify-between">
        <!-- Logo a la izquierda -->
        <div class="flex items-center">
            <img src="images/edm.jpg" alt="Logo izquierdo" class="h-16 w-16 m-0">
            <!-- Agrega tu logo izquierdo con la clase "h-8 w-8" o ajusta según sea necesario -->
        </div>

        <!-- Texto en el centro -->
        <div>
            <h1 class="text-white text-2xl text-center">Tae Kwon Do</h1>
        </div>

        <!-- Logo a la derecha -->
        <div class="flex items-center">
            <!-- Agrega tu logo derecho con la clase "h-8 w-8" o ajusta según sea necesario -->
            <img src="images/edm-epa.jpg" alt="Logo derecho" class="h-16 w-16 m-0">
        </div>
    </div>

    <h2 class="bg-blue-1001 text-white text-center m-0 p-2 text-1xl">Escuela de Disciplina Marcial, A.C. Diamantes</h2>

</nav>