<nav>
    <div class="bg-blue-1001 flex items-start justify-start">
        <!-- Logo a la izquierda -->
        <div class="flex items-center">
            <img src="https://live.staticflickr.com/65535/53572680004_ecc328ed13_n.jpg" 
            alt="Logo izquierdo" 
            class="h-16 w-16 mx-auto mt-0 object-contain">
            <!-- Agrega tu logo izquierdo con la clase "h-8 w-8" o ajusta según sea necesario -->
        </div>

        <!-- Texto en el centro -->
        <div class="items-center ml-auto">
            <h1 class="text-white text-1xl text-center m-2 p-0">Escuela de Disciplina Marcial, A.C. <br><span class="text-2xl">Diamantes</span></h1><br>
        </div>

        <!-- Logo a la derecha -->
        <div class="flex items-center ml-auto">
            <!-- Agrega tu logo derecho con la clase "h-8 w-8" o ajusta según sea necesario -->
            <img src="https://live.staticflickr.com/65535/53572679974_70cd116c33_n.jpg" 
            alt="Logo derecho" 
            class="h-16 w-16 mx-auto mt-0 object-contain">
        </div>
    </div>

    <h2 class="bg-blue-1001 text-white text-center m-0 p-1 text-1xl">Centro Supremo de Disciplina y Deporte</h2>

</nav>