<section class="bg-white py-12">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Visita nuestra Escuela de Disciplina Marcial.</h2>
        
        <iframe
        width="100%"
        height="400"
        style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10603.172059197685!2d-98.64446503488463!3d20.017434287985342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1af86f17dac07%3A0xffcd5ccc161bd539!2sEscuela%20de%20Disciplina%20Marcial%20A.C.%20Diamantes%20Epazoyucan!5e0!3m2!1ses-419!2smx!4v1709141846411!5m2!1ses-419!2smx"
        allowfullscreen
        ></iframe>
    </div>
</section>